#output{
    background-color: brown;
}

#b{
    background-color: aquamarine;
    height: 50px;
    width: 50px;
}

#b:hover{
    background-color: rgb(111, 177, 155);
}

#b1{
    background-color: rgb(255, 145, 0);
    height: 50px;
    width: 50px;
}

#b1:hover{
    background-color: rgb(177, 116, 37);
}

#b2{
    background-color: rgb(236, 54, 54);
    height: 50px;
    width: 50px;
}

#b2:hover{
    background-color: rgb(170, 42, 42);
}

