<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div>
    <h1>{{output}}</h1>
    <br>
    <button (click)="display(1)" id="b">1</button>
    <button (click)="display(2)" id="b">2</button>
    <button (click)="display(3)" id="b">3</button>
    <button (click)="add()" id="b1">+</button>
    <br>
    <button (click)="display(4)" id="b">4</button>
    <button (click)="display(5)" id="b">5</button>
    <button (click)="display(6)" id="b">6</button>
    <button (click)="subtract()" id="b1">-</button>
    <br>
    <button (click)="display(7)" id="b">7</button>
    <button (click)="display(8)" id="b">8</button>
    <button (click)="display(9)" id="b">9</button>
    <button (click)="multiply()" id="b1">*</button>
    <br>
    <button (click)="clear()" id="b2">Clear</button>
    <button (click)="delete()" id="b2">Del</button>
    <button (click)="equals()" id="b1">=</button>
    <button (click)="divide()" id="b1">/</button>
  </div>
  <h1>I forgot zero was a number</h1>
  <h1>Anything greater than 9007199254740991 will lose accuracy</h1>
</div>

<router-outlet></router-outlet>